# Auth DB
auth.jdbc.url=jdbc:mysql://localhost:3306/auth_db
auth.jdbc.username=root
auth.jdbc.password=Punya@52

# ERP DB
erp.jdbc.url=jdbc:mysql://localhost:3306/erp_db
erp.jdbc.username=root
erp.jdbc.password=Punya@52

# Hikari
db.pool.maximumPoolSize=10
